In [2]:
import os
import pandas as pd

In [14]:
path_ = '/Volumes/GoogleDrive/My Drive/_599/Capstone/Data/Weather/PRISM_ppt_tmin_tmean_tmax_tdmean_vpdmin_vpdmax_provisional_4km_20180101_20220928_32.8355_-117.1529.csv'
df = pd.read_csv(path_, skiprows=10, engine='python')
df.head()

,Date,ppt (inches),tmin (degrees F),tmean (degrees F),tmax (degrees F),tdmean (degrees F),vpdmin (hPa),vpdmax (hPa)
0,2018-01-01,0.0,48.3,58.5,68.6,46.8,0.85,13.58
1,2018-01-02,0.0,47.2,58.1,69.0,49.6,0.58,12.35
2,2018-01-03,0.0,53.0,64.9,76.9,49.0,1.04,20.79
3,2018-01-04,0.0,53.7,63.5,73.3,50.4,0.96,17.20
4,2018-01-05,0.0,51.8,64.2,76.7,44.6,1.53,23.04

In [16]:
df = df[['Date','tmin (degrees F)','tmax (degrees F)']]
df = df.rename(columns={'Date':'date','tmin (degrees F)':'tmin','tmax (degrees F)':'tmax'})
df.head()

         date  tmin  tmax
0  2018-01-01  48.3  68.6
1  2018-01-02  47.2  69.0
2  2018-01-03  53.0  76.9
3  2018-01-04  53.7  73.3
4  2018-01-05  51.8  76.7

In [17]:
path_ = '/Volumes/GoogleDrive/My Drive/_599/Capstone/Data/Weather/central_sd.csv'
df.to_csv(path_)